*,
*::before,
*::after {
  box-sizing: border-box;
}

/* .App {
  background: lightblue;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
} */

/* .main {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* .FilterList {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #f4f1bb;
} */

/* .MarketList {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
} */

/* .badges {
  background: #9bc1bc;
  border-radius: 3px;
} */
/* .market {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #428c7f;
  margin: 15px;
  height: 45vh;
  width: 500px;
  border-radius: 10px;
  box-shadow: 10px 10px 8px #888888;
} */
/* .filter {
  background: rgb(218, 218, 224);
  font-size: 15px;
} */

/* .img__market {
  height: 200px;
  margin: 10px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .img__market {
    height: 120px;
  }
} */

/* .card__category {
  margin-right: 10px;
  font-weight: bold;
} */

/* .market__title {
  font-weight: bold;
  font-size: 20px;
} */

/* .market__description {
  text-decoration: underline;
  font-size: 15px;
  margin-right: 20px;
  color: antiquewhite;
  font-weight: bold;
}

@media (min-width: 320px) and (max-width: 480px) {
  .market__description {
    padding: 0;
  }
} */
/* .market__prop {
  color: antiquewhite;
}
@media (min-width: 320px) and (max-width: 480px) {
  .market__prop {
    padding: 0;
  }
} */
